.btn{
    border: 5px gray solid; 
}
.persona{
    width: 100px;
    height: 100px; 
}

.bgskyblue{
    background: skyblue;
}
.bgred{
    background: red;
}
.bggreen{
    background: rgb(11, 142, 54);
}


.input-container{
    display: flex;
    flex-direction: column;
}
body{
    color: rgb(19, 19, 19);
    font-family: monospace;
}
img{
    width: 94%;
    border: 4px solid gray;
}
.text-principal{
    display: contents;
    font-size: 19px;
    font-weight: bold;
}
.section{
    width: 80%;
}
.title{
    width: 100%;
    text-align: center;
}
.section .title{
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 134);
}
body{
    background: rgb(230, 230, 240);
}
.col3{
    width: 33%;
}
.col2{
    width: 48%;
}
.col1{
    width: 98%;
}
.col4{
    width: 24%;
}
