body{
    color: rgb(19, 19, 19);
    font-family: monospace;
}
img{
    width: 94%;
    border: 4px solid gray;
}
.rows{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 12px;
    justify-content: space-evenly;
}
.text-principal{
    display: contents;
    font-size: 19px;
    font-weight: bold;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.section{
    width: 80%;
}
.title{
    width: 100%;
    text-align: center;
}
.section .title{
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 134);
}
body{
    background: rgb(230, 230, 240);
}
.col3{
    width: 33%;
}
.col2{
    width: 48%;
}
.col1{
    width: 98%;
}
.col4{
    width: 24%;
}
